.podcast-card {
	margin: 4rem 0 0 0;
	padding: 0 1rem;
	transition: transform 0.2s ease-in-out;
}
.podcast-card:hover {
	transform: scale(1.05);
	cursor: pointer;
}
.podcast-card img {
	display: block;
	width: 8rem;
    height: 8rem;
    object-fit: cover;
	margin: -4rem auto 1rem auto;
	border-radius: 100%;
}

.podcast-card hgroup {
	text-align: center;
}