.home header {
	display: flex;
    justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	margin: 0 1rem 2rem 1rem;
}

.home header input {
	max-width: 20rem;
	margin-bottom: 0rem;
}

.home header span {
	padding: .2rem .75rem;
	background-color: var(--primary);
	color: var(--primary-inverse);
	border-radius: 10px;
}

.home .podcast-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
	justify-content: center;
    gap: 1rem;
	margin-bottom: 2rem;
}