article.details {
    height: max-content;
}

article.details footer {
    font-style: italic;
    font-size: 1rem;
}

article.details img {
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
}