.episode hgroup p {
	font-style: italic;
}

.episode > article {
	height: max-content;
}

.episode audio {
	width: 100%;
}

@media (min-width: 992px) {
	.episode.grid {
        padding: 0 1rem;
		grid-template-columns: .5fr 1fr;
        grid-column-gap: 4rem;
	}
}