:root {
	--form-element-spacing-vertical: 0.5rem;
	--form-element-spacing-horizontal: 1rem;
	--block-spacing-vertical: 1rem;
	--block-spacing-horizontal: 1rem;
}

#root > header {
	margin: auto;
	max-width: 1600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
#root > header a {
	display: inline-block;
	font-size: 1.5rem;
	margin: 0 1rem;
}
#root > header span {
	margin: 0 1rem;
}
#root > header a:hover {
	cursor: pointer;
}

#root > hr {
	margin-bottom: 2rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1.1rem;
}
a {
	cursor: pointer;
}

.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
}
.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 18px solid var(--primary);
	border-color: var(--primary) transparent var(--primary) transparent;
	animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}
  

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}