.podcast h2 {
	margin: 0;
}

.podcast thead th {
	font-weight: bold;
}

.podcast tbody tr:nth-child(odd) {
	background-color: #f5f5f5;
}

@media (min-width: 992px) {
	.podcast.grid {
		padding: 0 1rem;
		grid-template-columns: .5fr 1fr;
		grid-column-gap: 4rem;
	}
}